* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open-sans", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
}
.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.primaryText {
  color: #56a79a;
}
.dark {
  background-color: #333333;
}
.lightText {
  color: white;
}
.darkText {
  color: #cccccc;
}
/* Nav Bar */
.mainNav {
  margin: 20px 0px;
}
.mainNav > div {
  display: flex;
}
.mainNav .branding {
  flex: 2;
}
.mainNav .branding h1 {
  font-size: 2rem;
}
.mainNav .mainMenu {
  display: flex;
}
.mainNav .mainMenu li {
  padding-right: 20px;
}
.mainNav .mainMenu li a {
  text-transform: uppercase;
  color: #888888;
  padding-bottom: 3px;
}
.mainNav .mainMenu li.current a {
  color: #56a79a;
  border-bottom: 3px solid #56a79a;
}

/* Showcase */
.showcase {
  background: url("../images/showcase.jpg") center center/cover no-repeat;
  height: 600px;
  width: 100%;
  border-top: solid 1px #56a79a;
  border-bottom: solid 1px #56a79a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase .content {
  padding: 40px 55px;
  border-radius: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
}
.showcase .content .title {
  margin-bottom: 20px;
}
.showcase .content .title h1 {
  font-size: 50px;
}

/* Media query for responsiveness */
@media (max-width: 700px) {
  .container {
    width: 100%;
  }
  .mainNav ul {
    padding-top: 35px;
  }
  .mainNav > div {
    display: block;
    text-align: center;
  }
  .mainNav .branding {
    flex: 1;
  }
  .mainNav .mainMenu {
    justify-content: center;
  }
  .mainNav .mainMenu li {
    margin: 0px 10px;
  }
  .showcase .content {
    text-align: center;
    padding: 20px 12px;
  }
  .showcase .content .title h1 {
    font-size: 1.6rem;
  }
  .showcase .content .text p {
    font-size: 0.9rem;
  }
}
